.navbar {
    width: 100%;
    height: 50px;
    /* padding-top: 56px; */
    background-color: #2980b9;
    display: flex;
    gap: 100px;

}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    margin-top: 16px;


}
h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2980b9;
    color: white;
}

tr:nth-child(even) {
    background-color: #ecf0f1;
}

body {
    font-family: Arial, sans-serif;
    /* margin: 30px; */
    background-color: #f9f9f9;
    color: #333;
}

/* .add-button {
    margin: 20px 0;
} */
.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 40px;
}

.delete-button:hover {
    background-color: #e60000;
}

.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.add-button:hover {
    background-color: #45a049;
}

.btn-add {
    display: inline-block;
    padding: 10px 30px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-add:hover {
    background-color: #219a52;
}

.view-button {
    background-color: #007bff;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    text-decoration: none;
}
.view-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: #e60000;
}

.btn-delete {
    background-color: rgb(188, 106, 106);
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 5px;
    margin-left: 40px;
}

td a {
    /* width: 50px; */
    /* background-color: rgb(95, 95, 132); */
    /* height: 100px; */
    color: black;
    font-size: 16px;
    /* border: solid white 1px; */
    text-decoration: none;
}

tr td {
    width: 0px;
}

.add-button {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 24px;
}

.add-button:hover {
    background-color: #45a049;
}

