.navbar{
    width: 100%;
    height: 50px;
    /* padding-top: 56px; */
    background-color:#2980b9;
    display: flex;  
    gap: 100px;                                                                             

}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    margin-top: 16px;
    
    
}

form{
    background-color: white;
    width: 550px;
    height: 70vh;
    margin-left: 35%;
    box-shadow: rgba(95, 90, 90, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding-left: 40px;
  
   
}
.add{
    width: 100%;
    height: 90vh;
    /* background-color:rgba(0, 0, 255, 0.589); */
    padding-top: 16px;
}
h2{
    text-align: center;
    /* color: white; */
    padding-top: 24px;
}
form p{
    padding-top: 24px;
    padding-left: 32px;
    font-size: 20px;
}
p select{
    width: 350px;
    padding: 4px;
}

p input{
    width: 350px;
    padding: 4px;
    /* margin-left: 32px; */
    border-radius: 5px;
    border: solid black 1px;

}
.btn input{
    border-radius: 5px;
    /* margin-left: 100px; */
    margin-top: 24px;
    width: 200px;
}
.btn input:hover{
    background-color: blue;
    color: white;
    border: solid blue ;
}


