th{
    width: 30px;
    cursor: pointer;
    
}
td a{
    /* width: 50px; */
    /* background-color: rgb(95, 95, 132); */
    /* height: 100px; */
    color: black;
    font-size: 16px;
    /* border: solid white 1px; */
    text-decoration: none;
    gap: 24px;
}
table{
    width: 100%;
    text-align: center;
    height: 30px;
    border: none ;
    border-collapse: collapse;
}

tr th{
    background-color: #2980b9;
    height: 50px;
    color: white;
    border: solid  white;
}
tr td{
    height: 50px;
    /* width: 30px; */
    border: solid black 1px;
}

h2{
    text-align: center;
}
tr:hover {
    background-color: #2980b9;
    cursor: pointer;
    transition: 0.3s;
    color: white;

}
*{
    padding: 0;
    margin: 0;
}
.navbar{
    width: 100%;
    height: 50px;
    /* padding-top: 56px; */
    background-color: #2980b9;
    display: flex;  
    gap: 100px;                                                                             

}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    margin-top: 16px;
    
    
}
.Addproduct a{
    text-decoration: none;
    padding: 8px;
    background-color: #2980b9;
    color: white;
     border-radius: 10px;
    
    
}
.link{
    display: flex;
    gap: 70px;
    margin-left: 40px;
    
}
.Addproduct{
    width: 300px;
}
.search input{
    padding: 8px;
    border-radius: 10px;
    width: 200px;
     border: solid black 1px ;
     margin-right: 16px;
     margin-left: 8px;
    
}

.search button{
    width: 100px;
    border: solid blue 1px ;
    background-color: blue;
    color: white;
    
}
button{
    padding: 8px;
    border-radius: 10px;
}
.btn_edit{
    background-color: blue;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}
.btn_delete{
    background-color: rgb(188, 106, 106);
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}
.btn_view{
    background-color: green;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
}
.download a{
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    border: solid blue;
    background-color: blue;
    color: white;
    border-radius: 8px;
    
}
.download{
     display: flex;
     gap: 40px;
     /* margin-top: 16px; */
     padding-left: 300px;
}
